.btn-cta {
    display: inline-block;
    padding: 15px 20px;
    
}

.cta-primary {
    font-size        :  1.3em;
    color            :  white;
    border-radius    :  2em;
    text-decoration  :  none;
    background-color :  $primary-gold;
    margin-top       :  5px;
}